In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("forestfires.csv",sep=",")
df

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
0    7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00
1    7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.00
2    7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.00
3    8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.00
4    8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[517 rows x 13 columns]

In [3]:
df.isnull().sum()

X        0
Y        0
month    0
day      0
FFMC     0
DMC      0
DC       0
ISI      0
temp     0
RH       0
wind     0
rain     0
area     0
dtype: int64

In [5]:
(df.values == '?').sum()

0

In [6]:
(df.values == np.nan).sum()

0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X       517 non-null    int64
 1   Y       517 non-null    int64
 2   month   517 non-null    object
 3   day     517 non-null    object
 4   FFMC    517 non-null    float64
 5   DMC     517 non-null    float64
 6   DC      517 non-null    float64
 7   ISI     517 non-null    float64
 8   temp    517 non-null    float64
 9   RH      517 non-null    int64
 10  wind    517 non-null    float64
 11  rain    517 non-null    float64
 12  area    517 non-null    float64
dtypes: float64(8), int64(3), object(2)
memory usage: 52.6+ KB

In [8]:
df["rain"].unique()

array([0. , 0.2, 1. , 6.4, 0.8, 0.4, 1.4])

In [11]:
df["month"].unique()

array(['mar', 'oct', 'aug', 'sep', 'apr', 'jun', 'jul', 'feb', 'jan',
       'dec', 'may', 'nov'], dtype=object)

In [13]:
df_half1 = df[df["month"].isin(["jan", "feb", "mar"])]
df_half1

     X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0    7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0  0.00
3    8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2  0.00
4    8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0  0.00
16   5  5   mar  sat  91.7  35.8   80.8  7.8  15.1  27   5.4   0.0  0.00
18   6  4   mar  wed  89.2  27.9   70.8  6.3  15.9  35   4.0   0.0  0.00
..  .. ..   ...  ...   ...   ...    ...  ...   ...  ..   ...   ...   ...
464  6  4   feb  tue  75.1   4.4   16.2  1.9   5.1  77   5.4   0.0  2.14
465  2  2   feb  sat  79.5   3.6   15.3  1.8   4.6  59   0.9   0.0  6.84
466  6  5   mar  mon  87.2  15.1   36.9  7.1  10.2  45   5.8   0.0  3.18
467  3  4   mar  wed  90.2  18.5   41.1  7.3  11.2  41   5.4   0.0  5.55
468  6  5   mar  thu  91.3  20.6   43.5  8.5  13.3  27   3.6   0.0  6.61

[76 rows x 13 columns]

In [15]:
df_half2 = df[df["month"].isin(["may","jun","jul"])]
df_half2

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain    area
22   7  4   jun  sun  94.3   96.3  200.0  56.1  21.0  44   4.5   0.0    0.00
40   4  4   jul  tue  79.5   60.6  366.7   1.5  23.3  37   3.1   0.0    0.00
47   6  6   jul  mon  94.2   62.3  442.9  11.0  23.0  36   3.1   0.0    0.00
138  9  9   jul  tue  85.8   48.3  313.4   3.9  18.0  42   2.7   0.0    0.36
143  1  2   jul  sat  90.0   51.3  296.3   8.7  16.6  53   5.4   0.0    0.71
150  6  5   jun  fri  92.5   56.4  433.3   7.1  23.2  39   5.4   0.0    1.19
151  9  9   jul  sun  90.1   68.6  355.2   7.2  24.8  29   2.2   0.0    1.36
152  3  4   jul  sat  90.1   51.2  424.1   6.2  24.6  43   1.8   0.0    1.43
223  2  2   jul  fri  88.3  150.3  309.9   6.8  13.4  79   3.6   0.0   37.02
285  2  5   jul  sun  93.9  169.7  411.8  12.3  23.4  40   6.3   0.0    0.00
286  7  6   jul  wed  91.2  183.1  437.7  12.5  12.6  90   7.6   0.2    0.00
287  7  4   jul  sat  91.6  104.2  474.9   9.0  22.1  49   2.7   0.0    0.00
288  7  4   jul  sat  91.6  104.2  474.9   9.0  24.2  32   1.8   0.0    0.00
289  7  4   jul  sat  91.6  104.2  474.9   9.0  24.3  30   1.8   0.0    0.00
290  2  5   jul  sat  91.6  104.2  474.9   9.0  18.7  53   1.8   0.0    0.00
291  9  4   jul  sat  91.6  104.2  474.9   9.0  25.3  39   0.9   0.0    8.00
292  4  5   jul  fri  91.6  100.2  466.3   6.3  22.9  40   1.3   0.0    2.64
293  7  6   jul  tue  93.1  180.4  430.8  11.0  26.9  28   5.4   0.0   86.45
294  8  6   jul  tue  92.3   88.8  440.9   8.5  17.1  67   3.6   0.0    6.57
295  7  5   jun  sun  93.1  180.4  430.8  11.0  22.2  48   1.3   0.0    0.00
296  6  4   jun  sun  90.4   89.5  290.8   6.4  14.3  46   1.8   0.0    0.90
297  8  6   jun  sun  90.4   89.5  290.8   6.4  15.4  45   2.2   0.0    0.00
298  8  6   jun  wed  91.2  147.8  377.2  12.7  19.6  43   4.9   0.0    0.00
299  6  5   jun  sat  53.4   71.0  233.8   0.4  10.6  90   2.7   0.0    0.00
300  6  5   jun  mon  90.4   93.3  298.1   7.5  20.7  25   4.9   0.0    0.00
301  6  5   jun  mon  90.4   93.3  298.1   7.5  19.1  39   5.4   0.0    3.52
302  3  6   jun  fri  91.1   94.1  232.1   7.1  19.2  38   4.5   0.0    0.00
303  3  6   jun  fri  91.1   94.1  232.1   7.1  19.2  38   4.5   0.0    0.00
304  6  5   may  sat  85.1   28.0  113.8   3.5  11.3  94   4.9   0.0    0.00
371  3  4   jul  wed  91.9  133.6  520.5   8.0  14.2  58   4.0   0.0    0.00
380  5  4   jul  wed  93.7  101.3  458.8  11.9  19.3  39   7.2   0.0    7.73
399  9  5   jun  wed  93.3   49.5  297.7  14.0  28.0  34   4.5   0.0    0.00
400  9  5   jun  wed  93.3   49.5  297.7  14.0  28.0  34   4.5   0.0    8.16
409  1  4   jul  tue  92.3   96.2  450.2  12.1  23.4  31   5.4   0.0    0.00
412  9  4   jul  mon  92.3   92.1  442.1   9.8  22.8  27   4.5   0.0    1.63
416  6  3   jul  tue  92.7  164.1  575.8   8.9  26.3  39   3.1   0.0    7.02
422  8  6   jul  sun  88.9  263.1  795.9   5.2  29.3  27   3.6   0.0    6.30
435  2  5   jul  sat  90.8   84.7  376.6   5.6  23.8  51   1.8   0.0    0.00
443  1  2   jul  fri  90.7   80.9  368.3  16.8  14.8  78   8.0   0.0    0.00
455  3  4   jul  mon  94.6  160.0  567.2  16.7  17.9  48   2.7   0.0    0.00
471  4  3   may  fri  89.6   25.4   73.7   5.7  18.0  40   4.0   0.0   38.48
472  8  3   jun  mon  88.2   96.2  229.0   4.7  14.3  79   4.0   0.0    1.94
473  9  4   jun  sat  90.5   61.1  252.6   9.4  24.5  50   3.1   0.0   70.32
474  4  3   jun  thu  93.0  103.8  316.7  10.8  26.4  35   2.7   0.0   10.08
475  2  5   jun  thu  93.7  121.7  350.2  18.0  22.7  40   9.4   0.0    3.19
476  4  3   jul  thu  93.5   85.3  395.0   9.9  27.2  28   1.3   0.0    1.76
477  4  3   jul  sun  93.7  101.3  423.4  14.7  26.1  45   4.0   0.0    7.36
478  7  4   jul  sun  93.7  101.3  423.4  14.7  18.2  82   4.5   0.0    2.21
479  7  4   jul  mon  89.2  103.9  431.6   6.4  22.6  57   4.9   0.0  278.53
480  9  9   jul  thu  93.2  114.4  560.0   9.5  30.2  25   4.5   0.0    2.75
481  4  3   jul  thu  93.2  114.4  560.0   9.5  30.2  22   4.9   0.0    0.00

In [16]:
df_half12 = pd.concat([df_half1,df_half2])
df_half12

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain    area
0    7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0    0.00
3    8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2    0.00
4    8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0    0.00
16   5  5   mar  sat  91.7   35.8   80.8   7.8  15.1  27   5.4   0.0    0.00
18   6  4   mar  wed  89.2   27.9   70.8   6.3  15.9  35   4.0   0.0    0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...     ...
477  4  3   jul  sun  93.7  101.3  423.4  14.7  26.1  45   4.0   0.0    7.36
478  7  4   jul  sun  93.7  101.3  423.4  14.7  18.2  82   4.5   0.0    2.21
479  7  4   jul  mon  89.2  103.9  431.6   6.4  22.6  57   4.9   0.0  278.53
480  9  9   jul  thu  93.2  114.4  560.0   9.5  30.2  25   4.5   0.0    2.75
481  4  3   jul  thu  93.2  114.4  560.0   9.5  30.2  22   4.9   0.0    0.00

[127 rows x 13 columns]

In [18]:
df_sort = df.sort_values(by=["temp"])
df_sort

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
280  4  6   dec  fri  84.7   26.7  352.6   4.1   2.2  59   4.9   0.0   9.27
282  6  3   feb  sun  84.9   27.5  353.5   3.4   4.2  51   4.0   0.0   0.00
279  4  4   dec  mon  85.4   25.4  349.7   2.6   4.6  21   8.5   0.0   9.77
278  4  4   dec  mon  85.4   25.4  349.7   2.6   4.6  21   8.5   0.0  22.03
277  3  4   dec  mon  85.4   25.4  349.7   2.6   4.6  21   8.5   0.0  10.73
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
491  4  4   aug  thu  95.8  152.0  624.1  13.8  32.4  21   4.5   0.0   0.00
492  1  3   aug  fri  95.9  158.0  633.6  11.3  32.4  27   2.2   0.0   0.00
496  4  5   aug  mon  96.2  175.5  661.8  16.8  32.6  26   3.1   0.0   2.77
484  2  5   aug  sun  94.9  130.3  587.1  14.1  33.1  25   4.0   0.0  26.43
498  6  5   aug  tue  96.1  181.1  671.2  14.3  33.3  26   2.7   0.0  40.54

[517 rows x 13 columns]

In [20]:
df_sort1 = df.sort_values(by=["rain"])
df_sort1

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
0    7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00
349  5  4   sep  fri  92.1   99.0  745.3   9.6  12.8  64   3.6   0.0   1.64
348  3  4   sep  fri  92.1   99.0  745.3   9.6  17.4  57   4.5   0.0   0.00
347  5  4   sep  fri  92.1   99.0  745.3   9.6  10.1  75   3.6   0.0   0.00
346  1  4   sep  mon  91.5  130.1  807.1   7.5  21.3  35   2.2   0.0  28.19
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
501  7  5   aug  tue  96.1  181.1  671.2  14.3  21.6  65   4.9   0.8   0.00
500  8  6   aug  tue  96.1  181.1  671.2  14.3  21.6  65   4.9   0.8   0.00
243  7  4   aug  sun  91.8  175.1  700.7  13.8  21.9  73   7.6   1.0   0.00
509  5  4   aug  fri  91.0  166.9  752.6   7.1  21.1  71   7.6   1.4   2.17
499  7  5   aug  tue  96.1  181.1  671.2  14.3  27.3  63   4.9   6.4  10.82

[517 rows x 13 columns]

In [22]:
df_transpose = df.transpose()
df_transpose

,0,1,2,3,4,5,6,7,8,9,...,507,508,509,510,511,512,513,514,515,516
X,7,7,7,8,8,8,8,8,8,7,...,2,1,5,6,8,4,2,7,1,6
Y,5,4,4,6,6,6,6,6,6,5,...,4,2,4,5,6,3,4,4,4,3
month,mar,oct,oct,mar,mar,aug,aug,aug,sep,sep,...,aug,aug,aug,aug,aug,aug,aug,aug,aug,nov
day,fri,tue,sat,fri,sun,sun,mon,mon,tue,sat,...,fri,fri,fri,fri,sun,sun,sun,sun,sat,tue
FFMC,86.2,90.6,90.6,91.7,89.3,92.3,92.3,91.5,91.0,92.5,...,91.0,91.0,91.0,91.0,81.6,81.6,81.6,81.6,94.4,79.5
DMC,26.2,35.4,43.7,33.3,51.3,85.3,88.9,145.4,129.5,88.0,...,166.9,166.9,166.9,166.9,56.7,56.7,56.7,56.7,146.0,3.0
DC,94.3,669.1,686.9,77.5,102.2,488.0,495.6,608.2,692.6,698.6,...,752.6,752.6,752.6,752.6,665.6,665.6,665.6,665.6,614.7,106.7
ISI,5.1,6.7,6.7,9.0,9.6,14.7,8.5,10.7,7.0,7.1,...,7.1,7.1,7.1,7.1,1.9,1.9,1.9,1.9,11.3,1.1
temp,8.2,18.0,14.6,8.3,11.4,22.2,24.1,8.0,13.1,22.8,...,25.9,25.9,21.1,18.2,27.8,27.8,21.9,21.2,25.6,11.8
RH,51,33,33,97,99,29,27,86,63,40,...,41,41,71,62,35,32,71,70,42,31
wind,6.7,0.9,1.3,4.0,1.8,5.4,3.1,2.2,5.4,4.0,...,3.6,3.6,7.6,5.4,2.7,2.7,5.8,6.7,4.0,4.5
rain,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0
area,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2.17,0.43,0.0,6.44,54.29,11.16,0.0,0.0

In [23]:
df_melted = pd.melt(df,id_vars=["month","temp"],value_name="Temp",var_name="Year")
df_melted

     month  temp  Year   Temp
0      mar   8.2     X      7
1      oct  18.0     X      7
2      oct  14.6     X      7
3      mar   8.3     X      8
4      mar  11.4     X      8
...    ...   ...   ...    ...
5682   aug  27.8  area   6.44
5683   aug  21.9  area  54.29
5684   aug  21.2  area  11.16
5685   aug  25.6  area    0.0
5686   nov  11.8  area    0.0

[5687 rows x 4 columns]

In [24]:
df_sort_melt = df_melted.sort_values(by=["month"])
df_sort_melt

     month  temp  Year  Temp
987    apr  17.6     Y     4
3858   apr  13.4    RH    75
3859   apr  15.2    RH    51
3860   apr  16.7    RH    20
2826   apr  16.7    DC  85.3
...    ...   ...   ...   ...
4166   sep  25.4  wind   3.6
4165   sep  22.8  wind   3.6
4164   sep  30.2  wind   2.7
4181   sep  25.9  wind   4.0
4465   sep  23.5  wind   4.0

[5687 rows x 4 columns]

In [25]:
casting = pd.pivot_table(df,index=["temp","month"],values="rain",fill_value=0)

In [26]:
casting

            rain
temp month
2.2  dec     0.0
4.2  feb     0.0
4.6  dec     0.0
     feb     0.0
4.8  dec     0.0
...          ...
32.3 aug     0.0
32.4 aug     0.0
32.6 aug     0.0
33.1 aug     0.0
33.3 aug     0.0

[335 rows x 1 columns]